<!DOCTYPE html>
<html>
  <head>
    <title>Pemilu API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pemilu API</h1>
    <p>Welcome to Open API Pemilu Apps</p>
  </body>
</html>
